.color-loftynavy{
    background: #03132a !important;
}
.color-loftybeige{
    background: #ab8240 !important;
}
.color-beige{
    color: #ab8240 !important;
}
.color-loftymaroon{
    background: #65011b !important;
}
header .header-top-info {
    background: #03132a !important;
}
.text-white{
	color: #fff !important;
}