---
import MasterLayout from '../layouts/MasterLayout.astro'
import HeroSub from '../components/HeroSub.astro'

interface Link {name:string, link:string}
interface Crumb {main:string, path: Link[] }

const breadcrumbs: Crumb = {
    main: "About Us",
    path: [
        {link: "/", name: "Home"},
        {link: "/about-us", name: "About Us"},
    ]
}
---
<MasterLayout>
    <HeroSub breadcrumbs={breadcrumbs} />
    <main class="main-about">
	<!-- Begin our story section -->
	<section class="our-story-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="our-story">
						<img width="486px" src="/img/about-img.jpg" alt="about">
						<div class="our-story-text">
							<h2>Our Story</h2>
							<p>Lofty Creek Christian School is an integrated Edu-care center for children from all walks of life aged between 2 and 5 years. We are located along Wambaa road, 0.5km off the Nairobi- Nakuru Highway at Muthiga’s Munyua road. Designed with kids in mind, LCCS observes very high standards of learning with a holistic child development approach. Given the varied capabilities of our children, we have integrated Competency-Based and Montessori Curricula, all with a Christian worldview.</p>
							<div class="story-benefit-wrap">
								<div class="story-benefit">
									<img src="/img/shield.png" alt="shield">
									<h5>Child Safety</h5>
								</div>
								<div class="story-benefit">
									<img src="/img/football.png" alt="football">
									<h5>Fitness Activities</h5>
								</div>
								<div class="story-benefit">
									<img src="/img/school-bus-front.png" alt="school-bus">
									<h5>Bus Service</h5>
								</div>
								<div class="story-benefit">
									<img src="/img/art.png" alt="art">
									<h5>Art Class</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End our story section -->

	<!-- Begin apply section -->
	<section class="apply-section color-2" data-parent-move='true'>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="how-apply">
						<h2>How to Apply?</h2>
						<p>You can choose one of the following processes to apply:</p>
						<ul>
							<li>
								<p>Head over to our offices located along Wambaa road, 0.5km off the Nairobi- Nakuru Highway at Muthiga’s Munyua road</p>
							</li>
							<li>
								<p> Drop us an email with the child's age and the program you wish to enroll your child in, plus a personal contact through which we can get back. Do so through <a style="text-decoration: none;color: #1d41bd;" href="#!">info@loftycreekchristianschool.org</a></p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="apply-form-wrap">
						<h2>Send Us a  Message</h2>
						<!--@if (count($errors))
								<p class="alert alert-danger">
									<h6>Please handle the following issues</h6>
									<ul>
										@foreach ($errors->all() as $error)
										    <li>
										    	{{ $error }}
										    </li>
										@endforeach
									</ul>
								</p>
							@endif -->
						<form action="{{ url('/send/message" method="POST" class="apply-form color-1">
							<div class="inner-apply-form">
								<div class="input-wrap">
									<label for="name">Your Name</label>
									<input type="text" name="name" id="name">
								</div>
								<div class="input-wrap">
									<label for="email">Your E-mail</label>
									<input type="email" name="email" id="email">
								</div>
								<div class="input-wrap">
									<label for="subject">Subject</label>
									<input type="text" name="subject" id="subject">
								</div>
							</div>
							<label for="body">Enter Your message</label>
							<textarea id="body" name="body"></textarea>
							<button type="submit" class="color-4">Send</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<img src="/img/bee.png" class="moving-element" alt="bee" data-move='plus' data-move-speed='50'>
	</section>
	<!-- End apply section -->


	<!-- Begin about benefit -->
	<section class="benefit-block color-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="benefit-title">
						<h2>The Outdoors</h2>
						<p>The extracurricular activities provided at Lofty Creek Christian School are calculated to positively influence a child's social life as they interact with others. these activities in turn improve a child's academic performance by sharpening mental task skills.</p>
					</div>
					<ul class="benefits-list-big">

						<li>
							<div class="benefit-card">
								<img src="/img/exam.png" alt="exam">
								<h4>Various <br>  Classes</h4>
							</div>
						</li>

						<li>
							<div class="benefit-card">
								<img src="/img/university.png" alt="university">
								<h4>Happy <br> Environment</h4>
							</div>
						</li>
						<li>
							<div class="benefit-card">
								<img src="/img/leaf.svg" alt="dancer">
								<h4>Gardening <br> class</h4>
							</div>
						</li>
						<li>
							<div class="benefit-card">
								<img src="/img/music-player.png" alt="music-player">
								<h4>Music <br> Programs</h4>
							</div>
						</li>
						<li>
							<div class="benefit-card">
								<img src="/img/books.png" alt="books">
								<h4>Foreign <br> Languages</h4>
							</div>
						</li>
						<li>
							<div class="benefit-card">
								<img src="/img/basketball.png" alt="basketball">
								<h4>Fitness <br> Programs </h4>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- End about benefit -->

	<!-- Begin testimonial slider second -->
	<section class="">
		<div class="container">
			<div class="row" style="margin-top: 30px !important;text-align: center;">
				<h2>Our achievement focus &hellip;</h2>
			</div>
			<div class="row" style="margin-top: 30px !important">
				<div class="col-md-6 col-sm-6 col-xl-6" style="text-align: right;">
					<img width="357px" src="/img/mission.jpg">
				</div>
				<div class="col-md-6 col-sm-6 col-xl-6 py-20">
					<div class="row">
						<h3>Our Mission</h3>
					</div>
					Our mission is to transform this generation through sound education with a distinctly Christian worldview.
				</div>
			</div>
			<div class="row" style="margin-top: 30px !important">
				<div class="col-md-6 col-sm-6 col-xl-6" style="float: right;text-align: left;">
					<img width="200px" src="/img/vision.svg">
				</div>
				<div class="col-md-6 col-sm-6 col-xl-6 py-20">
					<div class="row">
						<h3>Our Vision</h3>
					</div>
					To provide Bible-centered christian education preparing young people for service to God and Mankind.
				</div>
			</div>
		</div>
	</section>
	<!-- End testimonial slider second -->
</main>
</MasterLayout>