---
import MasterLayout from '../layouts/MasterLayout.astro'
import Gallery from "../components/Gallery.vue";

interface Link {name:string, link:string}
interface Crumb {main:string, path: Link[] }

const breadcrumbs: Crumb = {
    main: "Gallery",
    path: [
        {link: "/", name: "Home"},
        {link: "/contact-us", name: "Gallery"},
    ]
}

---
<MasterLayout>
    <main>
		<Gallery client:only="vue" />
	</main>
</MasterLayout>
