---
import MobileSidebar from "./MobileSidebar.vue";
---

 <div class="flex justify-between bg-navy py-3 px-5 lg:px-32 text-white font-light">
    <h3 class="hidden md:block font-baloo">Welcome to our school</h3>
    <img class="md:hidden h-20" src="/img/logos/logo-for-dark.svg" alt="">
    
    <MobileSidebar client:only="vue" />
</div>

<div class="hidden lg:flex px-32 flex items-center space-x-12 text-lg py-5">
    <a href="#" class="w-56">
        <img src="/img/logos/logo-wide.png" alt="">
    </a>
    <a class="whitespace-nowrap">
        <i class="fas fa-phone text-success text-2xl mr-2"></i>
        <small class="text-text-slate font-medium">+2547-2911-8877</small>
    </a>
    <small class="w-96 flex space-x-2 items-center font-medium">
        <i class="fas fa-location text-2xl text-orange"></i>
        <p class="leading-tight">Along Wambaa road, 0.5km off the Nairobi- Nakuru Highway at Muthiga’s Munyua road</p>
    </small>
     <small class="w-96 flex space-x-2 items-center font-medium">
        <i class="fas fa-envelope text-2xl text-light-red mr-2"></i>
        <p class="leading-tight">info@loftycreekchristianschool.org</p>
    </small>
</div>
