---

---

  <!-- Begin header top info -->
    <div class="header-top-info">
        <div class="container">
            <div class="row color-loftynavy">
                <div class="col-md-12">
                    <div class="top-info">
                        <p>Welcome to Our Kindergarten!</p>
                        <ul class="soc-list">

                             <li>
                                    <a target="_blank" class="nav-link text-white" href="https://portal.loftycreekchristianschool.org">
                                        <i class="fas fa-sign-in-alt"></i> PORTAL</a>
                                </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End header top info -->

    <!-- Begin header main info -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-header">
                    <!-- Begin main header info -->
                    <div class="main-header-info">
                        <a href="/" class="logo"><img style="height: 86px;min-width: 200px;" class="img-responsive img-fluid" src="/img/logos/logo-wide.png" alt="logo"></a>
                        <div class="humburger"><span></span><span></span><span></span></div>
                    </div>
                    <!-- End main header info -->

                    <!-- Begin inner header -->
                    <div class="inner-main-header">
                        <!-- Begin contact list -->
                        <ul class="contact-list" style="position: relative;">
                            <li style="padding-left: 30px;min-width: 200px;">
                                <i class="mdi mdi-phone color-1"></i>
                                <div class="footer-contact-text">
                                    <a href="#!" style="width:140px">+2547-2911-8877</a>
                                </div>
                            </li>
                            <li style="min-width: 280px;">
                                <i class="mdi mdi-map-marker color-2"></i>
                                <div class="footer-contact-text">
                                    <a href="https://goo.gl/maps/1kZ22ASKEyNYECRW9" target="_blank"> Along Wambaa road, 0.5km off the Nairobi- Nakuru Highway at Muthiga’s Munyua road</a>
                                </div>
                            </li>
                            <li style="">
                                <i class="mdi mdi-email-open-outline color-3"></i>
                                <div class="footer-contact-text">
                                    <small style="font-size: 6px !important">
                                        <a href="#!">info@loftycreekchristianschool.org</a>
                                    </small>
                                </div>
                            </li>
                        </ul>
                        <!-- End contact list -->

                    </div>
                    <!-- End inner header -->
                </div>
            </div>
        </div>
    </div>
    <!-- Begin header main info -->