---

---
<nav class="header-nav">
    <div class="close-menu"><i class="fa fa-close"></i></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="header-nav-list">
                    <li class="color-1"><a href="/" class="active">Home</a></li>
                    <li class="color-5"><a href="/about-us">About us</a></li>
                    <li class="color-3 drop-right"><a href="contact-us">Contacts</a></li>
                    <li class="color-3"><a href="/gallery">Gallery</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- End header menu -->
 <!-- Begin search overlay -->
<div class="search-overlay-wrap color-1">
    <div class="close-search-overlay"><i class="fa fa-xmark"></i></div>
    <form action="#" class="search-overlay">
        <input type="search" name="overlay-search" placeholder="Search...">
        <button type="submit"><i class="mdi mdi-magnify"></i></button>
    </form>
</div>
<!-- End search overlay -->