---

---
<nav class="hidden md:flex px-32 justify-between border-t">
    <a href="/" class="group text-2xl font-baloo font-bold flex flex-col text-center items-center before:bg-purple before:h-1.5 before:w-[120%] hover:before:w-[130%] before:duration-300 before:transition-all before:text-center before:rounded-full">
        <span class="py-2 group-hover:text-purple transition-all">Home</span>
    </a>

    <a href="/about-us" class="group text-2xl font-baloo font-bold flex flex-col text-center items-center before:bg-success before:h-1.5 before:w-[120%] hover:before:w-[130%] before:duration-300 before:transition-all before:text-center before:rounded-full">
        <span class="py-2 group-hover:text-success transition-all">About Us</span>
    </a>

    <a href="/contact-us" class="group text-2xl font-baloo font-bold flex flex-col text-center items-center before:bg-orange before:h-1.5 before:w-[120%] hover:before:w-[130%] before:duration-300 before:transition-all before:text-center before:rounded-full">
        <span class="py-2 group-hover:text-orange transition-all">Contact Us</span>
    </a>

    <a href="/gallery" class="group text-2xl font-baloo font-bold flex flex-col text-center items-center before:bg-light-red before:h-1.5 before:w-[120%] hover:before:w-[130%] before:duration-300 before:transition-all before:text-center before:rounded-full">
        <span class="py-2 group-hover:text-light-red transition-all">Gallery</span>
    </a>

</nav>