---

---
<!-- Begin home slider -->
<section class="home-slider-wrap color-3">
    <div class="home-slider" id="home-slider">
        <div class="card">
            <img src="/img/home-bg1.jpg" class="home-slider-bg" alt="img">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="inner-home-slider">
                            <div class="home-slider-desc">
                                <div class="home-slider-text">
                                    <p class="h1">A place to  Explore and Learn  with Fun</p>
                                    <div class="slider-button-wrap">
                                        <a href="/about-us" class="button color-3">About Us</a>
                                    </div>
                                </div>
                                <img src="/img/buterfly-2.png" class="slider-mini-img one" alt="buterfly">
                                <img src="/img/bee.png" class="slider-mini-img two" alt="bee">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="inner-home-slider">
                            <div class="home-slider-desc">
                                <div class="home-slider-text">
                                    <p class="h1">Only expert teachers</p>
                                    <div class="slider-button-wrap">
                                        <a href="/classes" class="button color-3">Classes</a>
                                    </div>
                                </div>
                                <img src="/img/buterfly.png" class="slider-mini-img one" alt="buterfly">
                                <img src="/img/bee.png" class="slider-mini-img two" alt="bee">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="/img/home-bg3.jpg" class="home-slider-bg" alt="img">
        </div>
    </div>
    <a href="#" class="slider-arrow arrow-left"><i class="mdi mdi-chevron-left"></i></a>
    <a href="#" class="slider-arrow arrow-right"><i class="mdi mdi-chevron-right"></i></a>
</section>
<!-- End home slider -->