---

---
<!-- Begin home action -->
       {{--  <section class="action-wrap color-3" data-parent-move='true'>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="action">
                            <div class="action-desc">
                                <a href="single-event.html" class="h2">parents day</a>
                                <h6>20-25 nov, 18</h6>
                            </div>
                            <!-- Begin timer -->
                            <div id="timer" class="timer-wrap">
                                    <div class="adaptive-wrap">
                                        <div class="timer-block-wrap">
                                            <div class="timer-block color-1">
                                                <div class="timer-count">
                                                    <p id="days"></p>
                                                </div>
                                                <p class="timer-text">Days</p>
                                            </div>
                                        </div>
                                        <div class="timer-block-wrap">
                                            <div class="timer-block color-2">
                                                <div class="timer-count">
                                                    <p id="hours"></p>
                                                </div>
                                                <p class="timer-text">Hours</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="adaptive-wrap">
                                        <div class="timer-block-wrap">
                                            <div class="timer-block color-3">
                                                <div class="timer-count">
                                                    <p id="minutes"></p>
                                                </div>
                                                <p class="timer-text">Minutes</p>
                                            </div>
                                        </div>
                                        <div class="timer-block-wrap">
                                            <div class="timer-block color-4">
                                                <div class="timer-count">
                                                    <p id="seconds"></p>
                                                </div>
                                                <p class="timer-text">Seconds</p>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <!-- End timer -->
                        </div>
                    </div>
                </div>
            </div>
            <img src="/img/ballon_1.png" class="moving-element one" alt="baloon" data-move='plus' data-move-speed='25'>
            <img src="/img/ballon_2.png" class="moving-element two" alt="baloon" data-move='plus' data-move-speed='45'>
            <img src="/img/little_boy.png" class="action-bg" alt="little_boy">
        </section> --}}
        <!-- End home action -->
 <!-- Begin home team -->
 {{--  <section class="home-team" data-parent-move='true'>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Our Awesome Teachers</h2>
                    </div>
                    <div class="col-md-12">
                        <ul class="row team-list">
                            <li class="col-sm-6 col-md-6 col-lg-4">
                                <div class="employe-card color-4">
                                    <figure class="employe">
                                        <a href="single-team.html"><img src="/img/employe-1.jpg" alt="employe-1"></a>
                                        <figcaption>
                                            <h3>Emma Fields</h3>
                                            <p><em>Music Teacher</em></p>
                                            <p>Expirience: <strong>8 years</strong></p>
                                            <ul class="soc-list">
                                                <li>
                                                    <a href="#" title="Instagram" target="_blank">
                                                        <i class="mdi mdi-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Twiter" target="_blank">
                                                        <i class="mdi mdi-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Facebook" target="_blank">
                                                        <i class="mdi mdi-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Linkedin" target="_blank">
                                                        <i class="mdi mdi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="single-team.html" class="read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <li class="col-sm-6 col-md-6 col-lg-4">
                                <div class="employe-card color-1">
                                    <figure class="employe">
                                        <a href="single-team.html"><img src="/img/employe-2.jpg" alt="employe"></a>
                                        <figcaption>
                                            <h3>Stella Cristal</h3>
                                            <p><em>Preschoold Teacher</em></p>
                                            <p>Expirience: <strong>6 years</strong></p>
                                            <ul class="soc-list">
                                                <li>
                                                    <a href="#" title="Instagram" target="_blank">
                                                        <i class="mdi mdi-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Twiter" target="_blank">
                                                        <i class="mdi mdi-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Facebook" target="_blank">
                                                        <i class="mdi mdi-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Linkedin" target="_blank">
                                                        <i class="mdi mdi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="single-team.html" class="read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <li class="col-sm-6 col-md-6 col-lg-4">
                                <div class="employe-card color-2">
                                    <figure class="employe">
                                        <a href="single-team.html"><img src="/img/employe-3.jpg" alt="employe"></a>
                                        <figcaption>
                                            <h3>Lesli Benson</h3>
                                            <p><em>Art Teacher</em></p>
                                            <p>Expirience: <strong>3 years</strong></p>
                                            <ul class="soc-list">
                                                <li>
                                                    <a href="#" title="Instagram" target="_blank">
                                                        <i class="mdi mdi-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Twiter" target="_blank">
                                                        <i class="mdi mdi-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Facebook" target="_blank">
                                                        <i class="mdi mdi-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Linkedin" target="_blank">
                                                        <i class="mdi mdi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="single-team.html" class="read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <li class="col-sm-6 col-md-6 col-lg-4">
                                <div class="employe-card color-3">
                                    <figure class="employe">
                                        <a href="single-team.html"><img src="/img/employe-4.jpg" alt="employe"></a>
                                        <figcaption>
                                            <h3>Sam Kiels</h3>
                                            <p><em>Preschoold Teacher</em></p>
                                            <p>Expirience: <strong>10 years</strong></p>
                                            <ul class="soc-list">
                                                <li>
                                                    <a href="#" title="Instagram" target="_blank">
                                                        <i class="mdi mdi-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Twiter" target="_blank">
                                                        <i class="mdi mdi-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Facebook" target="_blank">
                                                        <i class="mdi mdi-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Linkedin" target="_blank">
                                                        <i class="mdi mdi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="single-team.html" class="read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <li class="col-sm-6 col-md-6 col-lg-4">
                                <div class="employe-card color-4">
                                    <figure class="employe">
                                        <a href="single-team.html"><img src="/img/employe-5.jpg" alt="employe"></a>
                                        <figcaption>
                                            <h3>Anna Grey</h3>
                                            <p><em>Literacy Teacher</em></p>
                                            <p>Expirience: <strong>6 years</strong></p>
                                            <ul class="soc-list">
                                                <li>
                                                    <a href="#" title="Instagram" target="_blank">
                                                        <i class="mdi mdi-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Twiter" target="_blank">
                                                        <i class="mdi mdi-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Facebook" target="_blank">
                                                        <i class="mdi mdi-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Linkedin" target="_blank">
                                                        <i class="mdi mdi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="single-team.html" class="read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <li class="col-sm-6 col-md-6 col-lg-4">
                                <div class="employe-card color-1">
                                    <figure class="employe">
                                        <a href="single-team.html"><img src="/img/employe-6.jpg" alt="employe"></a>
                                        <figcaption>
                                            <h3>Bill Teston</h3>
                                            <p><em>Sport Teacher</em></p>
                                            <p>Expirience: <strong>2 years</strong></p>
                                            <ul class="soc-list">
                                                <li>
                                                    <a href="#" title="Instagram" target="_blank">
                                                        <i class="mdi mdi-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Twiter" target="_blank">
                                                        <i class="mdi mdi-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Facebook" target="_blank">
                                                        <i class="mdi mdi-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Linkedin" target="_blank">
                                                        <i class="mdi mdi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="single-team.html" class="read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <img src="img/bird.png" class="moving-element one" alt="bird" data-move='plus' data-move-speed='25'>
            <img src="img/bee.png" class="moving-element two" alt="bee" data-move='plus' data-move-speed='40'>
        </section> --}}
        <!-- End home team -->
 <!-- Begin home events -->
        {{-- <section class="events-slider-section" data-parent-move='true'>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Our Events</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="event-slider-wrap">
                            <div class="event-slider color-1" id="event-slider">
                                <div class="card">
                                    <figure class="event-card color-2">
                                        <a href="single-event.html" class="event-logo">
                                            <time datetime="2018-06-01">1 jun <br> 2019</time>
                                            <img src="img/event-1.jpg" alt="event-1">
                                        </a>
                                        <figcaption>
                                            <a href="single-event.html" class="h4">World Kids Day</a>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <a href="single-event.html" class="read-more">Read More  <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="card">
                                    <figure class="event-card color-4">
                                        <a href="single-event.html" class="event-logo">
                                            <time datetime="2018-06-05">15 nov <br> 2019</time>
                                            <img src="img/event-2.jpg" alt="event-2">
                                        </a>
                                        <figcaption>
                                            <a href="single-event.html" class="h4">World Kids Day</a>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <a href="single-event.html" class="read-more">Read More  <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="card">
                                    <figure class="event-card color-1">
                                        <a href="single-event.html" class="event-logo">
                                            <time datetime="2018-06-01">20 nov <br> 2019</time>
                                            <img src="img/event-1.jpg" alt="event-1">
                                        </a>
                                        <figcaption>
                                            <a href="single-event.html" class="h4">World Kids Day</a>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <a href="single-event.html" class="read-more">Read More  <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="card">
                                    <figure class="event-card color-3">
                                        <a href="single-event.html" class="event-logo">
                                            <time datetime="2018-06-05">5 dec <br> 2019</time>
                                            <img src="img/event-2.jpg" alt="event-2">
                                        </a>
                                        <figcaption>
                                            <a href="single-event.html" class="h4">World Kids Day</a>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <a href="single-event.html" class="read-more">Read More  <i class="mdi mdi-chevron-right"></i></a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="img/bee-2.png" class="moving-element one" alt="bee" data-move='plus' data-move-speed='35'>
        </section> --}}
        <!-- End home events -->

        <!-- Begin home skils -->
       {{--  <section class="skills-section color-4" data-parent-move='true'>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="skill-block" data-skill='36'>
                            <img src="img/mortarboard.png" alt="mortarboard">
                            <p class="h2 skill-number">-</p>
                            <h5>Years of Experience</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="skill-block" data-skill='46'>
                            <img src="img/books.png" alt="books">
                            <p class="h2 skill-number">-</p>
                            <h5>Professional Teachers</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="skill-block" data-skill='458'>
                            <img src="img/rocket.png" alt="rocket">
                            <p class="h2 skill-number">-</p>
                            <h5>Happy <br> Kids</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="skill-block" data-skill='18'>
                            <img src="img/atom.png" alt="atom">
                            <p class="h2 skill-number">-</p>
                            <h5>Awesome <br> Classes</h5>
                        </div>
                    </div>
                </div>
            </div>
            <img src="img/buterfly-2.png" class="moving-element one" alt="buterfly" data-move='plus' data-move-speed='55'>
        </section> --}}
        <!-- End home skils -->

        <!-- Begin home testimonials -->
       {{--  <section class="testimonial-section" data-parent-move='true'>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial-slider color-5" id="testimonial-slider">
                            <div class="card">
                                <div class="testimonial-wrap color-3">
                                    <div class="testimonial">
                                        <div class="author-avatar">
                                            <img src="img/testimonial-1.jpg" alt="testimonial">
                                        </div>
                                        <p class="testimonials-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <h5>Marry Doe, <span>Mother</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="testimonial-wrap color-1">
                                    <div class="testimonial">
                                        <div class="author-avatar">
                                            <img src="/img/employe-6.jpg" alt="testimonial">
                                        </div>
                                        <p class="testimonials-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <h5>Sam Doe, <span>Father</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="testimonial-wrap color-2">
                                    <div class="testimonial">
                                        <div class="author-avatar">
                                            <img src="/img/employe-3.jpg" alt="testimonial">
                                        </div>
                                        <p class="testimonials-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <h5>Carolyne Brooke, <span>Mother</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="testimonial-wrap color-4">
                                    <div class="testimonial">
                                        <div class="author-avatar">
                                            <img src="/img/employe-2.jpg" alt="testimonial">
                                        </div>
                                        <p class="testimonials-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <h5>Carolyne Brooke, <span>Mother</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="testimonial-wrap color-5">
                                    <div class="testimonial">
                                        <div class="author-avatar">
                                            <img src="/img/employe-1.jpg" alt="testimonial">
                                        </div>
                                        <p class="testimonials-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <h5>Carolyne Brooke, <span>Mother</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="/img/bird-2.png" class="moving-element one" alt="bird" data-move='plus' data-move-speed='40'>
            <img src="/img/flower.png" class="bottom-img" alt="flower">
        </section> --}}
        <!-- End home testimonials -->