@charset "utf-8";
.bg-dark{
	background: #000!important;
}
.text-light {
    color: #e0e0e0 !important;
}
.overlay .mask:hover {
    opacity: 1;
    transition: .6s;
}

.zoom img, .zoom video {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.view img, .view video {
    position: relative;
    display: block;
}
.view:hover>.hoverable{
    opacity: .3;
    transition: .6s;
}
.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}
  .overlay .mask {
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.view .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.px-0{
    padding-left: 0px;
    padding-right: 0px;
}
.px-1{
    padding-left: 1px!important;
    padding-right: 1px!important;
}
.my-1{
    margin-top:1px!important;
    margin-bottom: 1px!important;
}
.mfp-close::before{
    background: transparent!important;
}
.mfp-close::after{
    content: ''!important;
    background: transparent!important;
}