---
import HeaderInfo from '../components/HeaderInfo.astro'
import HeaderMenu from '../components/HeaderMenu.astro'
import Loader from '../components/Loader.vue'
import Notifier from "../components/Notifier.vue";
import ClientJs from "../components/ClientJs.astro"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<title> Lofty Creek | LCCS </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&family=Roboto:ital,wght@0,100;0,400;0,900;1,400;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/all.min.css">
        <link rel="stylesheet" href="/css/custom.css">

        <slot name="css" />
	</head>
	<body class="font-roboto text-slate-500">
        <!-- Begin preloader -->
          <!-- <Loader client:only="vue" /> -->
        <!-- End preloader -->
        <!-- Begin header -->
        <header>
          <!-- Begin header main info -->
            <HeaderInfo />
          <!-- Begin header main info -->

            <!-- Begin header menu -->
            <HeaderMenu />
            <!-- End header menu -->
        </header>
        <!-- End header -->
        <!-- Begin home slider -->
        <!-- <slot name="banner"></slot> -->
        <Notifier client:visible />
        <!-- End home slider -->
        <!-- Begin home content -->
        <div id="app">
            <slot></slot>
        </div>
        <!-- End home content -->
 <!-- Begin footer -->

    <footer class="bg-brown text-white">
        <section class="px-5 lg:px-32 py-20 grid grid-cols-1 lg:grid-cols-12 gap-10">
            <div class="col-span-4">
                <img src="/img/logos/logo-for-dark.svg" alt="Lofty Creek Christian School logo" class="w-[70%]">

                <p class="mt-5">
                    Our mission is to transform this generation through sound education with a distinct christian worldview.
                </p>

                <!-- component -->

                <form class="mt-5">
                    <label for="default-search" class="mb-2 text-sm font-medium text-white sr-only">Submit email</label>
                    <div class="relative">
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <i class="fas fa-paper-plane"></i>
                        </div>
                        <input type="email" id="default-search" class="block p-4 pl-10 w-full text-sm bg-white/30 rounded-lg border border-white focus:ring-2 focus:ring-white/40 focus:border-white/50 focus:ring-offset-2 placeholder:text-white" placeholder="Enter email to subscribe to newsletter" required>
                        <button type="submit" class="text-brown absolute right-2.5 bottom-2.5 bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300/30 font-medium rounded-lg text-sm px-4 py-2">Send</button>
                    </div>
                </form>

                <div id="social" class="mt-4">
                    <a href="https://web.facebook.com/loftycreekchristianschool" target="_blank" class="hover:scale-105 transition-all">
                        <i class="fab fa-facebook text-3xl"></i>
                    </a>
                </div>

            </div>
            <div class="col-span-4">
                <h3 class="font-baloo text-3xl font-medium">Contact Us</h3>
                <small>Find our trusted support team today!</small>

                <div class="flex flex-col space-y-8 mt-5">
                    <div class="flex items-center space-x-4">
                        <i class="far fa-clock text-2xl"></i>
                        <span>
                            Mon - Fri <br>
                            8 am - 5 pm
                        </span>
                    </div>

                    <div class="flex space-x-4 hover:text-green-400 transition-all">
                        <i class="far fa-location text-2xl"></i>
                        <a href="https://goo.gl/maps/1kZ22ASKEyNYECRW9" target="_blank">
                            Along Wambaa road, <br>
                            0.5km off the Nairobi- Nakuru Highway <br>
                            at Muthiga’s Munyua road
                        </a>
                    </div>

                    <div class="flex space-x-4 hover:text-green-400 transition-all">
                        <i class="far fa-phone text-2xl"></i>
                        <a href="tel:+254729118877" target="_blank">
                            +2547-2911-8877
                        </a>
                    </div>
                    <div class="flex space-x-4 hover:text-green-400 transition-all">
                        <i class="far fa-mailbox text-2xl"></i>
                        <a href="mailto:info@loftycreekchristianschool.org" target="_blank">
                            info@loftycreekchristianschool.org
                        </a>
                    </div>


                </div>

            </div>
            <div class="col-span-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8645731633337!2d36.684767799999996!3d-1.2528132999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1fe2967ffd7f%3A0xe205997aeec6ce08!2sLofty%20Creek%20Christian%20School%20-%20Muthiga!5e0!3m2!1sen!2ske!4v1681586128873!5m2!1sen!2ske" class="w-full h-full rounded-md" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <div class="border-t border-white text-white py-8 text-center">
            With 🤍 by Lofty Creek &nbsp; &nbsp; © All rights reserved
        </div>
    </footer>


    <script lang="ts">
        window.addEventListener('scroll', function() {
          document.querySelectorAll('.animate-on-scroll').forEach(function(element) {
            if (isElementPartiallyInViewport(element)) {
              if (!element.classList.contains('animate-enter')) {
                element.style.animationDuration = element.getAttribute('data-duration');
                element.classList.add('animate-enter');
              }
            } else {
              if (element.classList.contains('animate-enter')) {
                element.style.animationDuration = null;
                element.classList.remove('animate-enter');
              }
            }
          });
        });

        function isElementPartiallyInViewport(el) {
          let rect = el.getBoundingClientRect();
          let windowHeight = (window.innerHeight || document.documentElement.clientHeight);
          let windowWidth = (window.innerWidth || document.documentElement.clientWidth);

          let vertInView = (rect.top <= windowHeight) && ((rect.top + rect.height) >= 0);
          let horInView = (rect.left <= windowWidth) && ((rect.left + rect.width) >= 0);

          return (vertInView && horInView);
        }
    </script>
    </body>
</html>